<div class="container">
    <% if(req === 'root') { %>
        <% recommendations.forEach(anime => { %>
            <div class="card">
                    <a href="/animes/<%= anime.entry[0].mal_id %>/<%= anime.entry[0].title%>">
                        <img src="<%= anime.entry[0].images.jpg.image_url %>" alt="<%= anime.entry[0].title %>">
                        <h2><%= anime.entry[0].title.substring(0, 40) %><%= anime.entry[0].title.length > 40 ? '...' : '' %></h2>
                        <p></p>
                    </a>
            </div>
        <% }); %>
    <% } else if(req === 'search') { %>
        <% searchResults.forEach(anime => { %>
            <div class="card">
                    <a href="/animes/<%= anime.mal_id %>/<%= anime.title %>">
                        <img src="<%= anime.images.jpg.image_url %>" alt="<%= anime.title %>">
                        <h2><%= anime.title.substring(0, 40) %><%= anime.title.length > 40 ? '...' : '' %></h2>
                        <h4>Popularity: <%= anime.popularity %></h4>
                    </a>
            </div>
        <% }); %>

    <% } %>
</div>