<div class="carousel">
  <% animes.forEach((anime, index) => { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <div class="shade"></div>
          <img src="<%= anime.attributes.coverImage.small%>" data-poster-url="<%= anime.attributes.posterImage.small %>" alt="<%= anime.attributes.canonicalTitle %>">
          <div class="anime-title">
            <h1><%= anime.attributes.canonicalTitle %></h1>
          </div>
          <div class="carousel-caption">
              <p><%= anime.attributes.synopsis.substring(0, 380) %> ...</p>
          </div>
      </div>
  <% }); %>
  <a class="carousel-control-prev" onclick="changeSlide(-1)">&#10094;</a>
  <a class="carousel-control-next" onclick="changeSlide(1)">&#10095;</a>
</div><br>
<div style="text-align: center; display: flex; align-items: center; justify-content: center;">
    <% animes.forEach((anime, index) => { %>
        <span class="dot <%= index === 0 ? 'active' : '' %>" onclick="currentSlide('<%= index %>')" style="margin: 8px;"></span>
    <% }); %>
</div>
<script>
  let slideIndex = 0;
  window.addEventListener('resize', updateCarouselImages);
    updateCarouselImages(); 

    function updateCarouselImages() {
    const isPhoneView = window.innerWidth <= 600; 
    const carouselImages = document.querySelectorAll('.carousel img');
    carouselImages.forEach(img => {
        const coverUrl = img.src;
        const posterUrl = img.getAttribute('data-poster-url');
        img.src = isPhoneView ? posterUrl : coverUrl;
    });
}

  function changeSlide(n) {
    const slides = document.querySelectorAll('.carousel-item');
    const dots = document.querySelectorAll('.dot');
    slideIndex += n;
    if (slideIndex < 0) slideIndex = slides.length - 1;
    if (slideIndex >= slides.length) slideIndex = 0;
    slides.forEach((slide, index) => {
        slide.classList.toggle('active', index === slideIndex);
    });
    dots.forEach((dot, index) => {
        dot.classList.toggle('active', index === slideIndex);
    });
}
function currentSlide(n) {
    changeSlide(n - slideIndex);
}
setInterval(() => {
    changeSlide(1);
}, 5000);
</script>